
body {
    overflow:hidden;
     margin:0;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  text {
    font-family: Times New Roman;
    pointer-events: none;
  }
  .accordion {
      background-color: #2d6e84;
      color: white;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 14px;
      transition: 0.4s;
      background-color: #2d6e84;
      color: white;
      border-top: 1px solid white;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      
  }
  
  .active, .accordion:hover {
      background-color: #2d6e84;
      color: white;
      border-top: 1px solid white;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  
  .accordion:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }
  
  .active:after {
      content: "\2212";
  }
  
  .panel {
      padding: 0 18px;
      border-radius: 0;
      background-color:rgb(74, 129, 148);
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      margin-bottom:0px;
      color: white;     
      font-size: 13px;
  }

  .panel1 {
    overflow: auto; 
    scrollbar-width: none; 
   
}

.list-box {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}
  /* #legendPanel{
      min-height: 100px; 
  } */
  
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
     
      right: 0;
      left: 0;
      background-color:#2d6e84;
      overflow-x: hidden;
      transition: 0.5s;
      /* padding-top: 60px; */
  }
  .text-img img {
      width: inherit;
    }
    .text-img {
      width: 100%;
      overflow: hidden;
    }
  
  .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
  }
  
  /* .sidenav a:hover {
      color: #f1f1f1;
  } */
  
  .sidenav .closebtn {
      position: absolute;
      top: 2px;
      right: 10px !important;
      /* left: 0px; */
      font-size: 36px;
      /* margin-left: 10px; */
      /* margin-right: 50px; */
      color: white;
  }
  /* .closebtn a{ */
  /*padding: 8px 8px 8px 10px;*/
  /* } */
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  
  #container {
              width: 1240px;
              position: relative;
              background: rgb(0.2, 255,255,255);
              margin: 0 auto;
              margin-top: 0;
              padding: 40px;
              border-radius: 0 0 5px 5px;
              box-shadow: 0 0 8px 2px #000;
          }
  #main_nav {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      width: 100%;
      
      border-radius: 0 0 5px 5px;
      box-shadow: 0 0 8px 2px #000;
  }
  
  .with_nav #main_nav {
      display: block;
  }
  
  .access_aid {
      display: none;
  }
  
  #access_nav {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 0;
      padding-top: 40px;
      overflow: hidden;
      border: 1px solid #ccc;
      background: white 10px 10px / 20px 20px no-repeat;
  
      background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
      background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
      z-index: 1;
  }
  
  .with_nav #access_nav {
      background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
  }
  
  
  /* Weight Threshold Slider */
  .slidecontainer {
      width: 100%;
  }
  
  .slider {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;
      background:#d9edf7;
      outline: none;
      opacity: 1;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  
  .slider:hover {
      opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      border: 0;
      background: url('../images/icons/rangeIcon.png');
      cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
      width: 24px;
      height: 24px;
      border: 0;
      background: url('../images/icons/rangeIcon.png');
      cursor: pointer;
  }
  
  
  .node path.selected {
    stroke: black !important;
    stroke-width: 2 !important;
  }
  .brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
  }
  input[type=checkbox], input[type=radio] {
      height: 12px;
      cursor: pointer;
  }
  .heading {
      display: inline-flex;
      /* background: #337ab7; */
      width: 100%;
      color: white;
      height: 59px;
      align-items: center;
  }
  .heading h5 {
    padding-top: 12px;
    padding-left: 12px;
    font-size: 15px;
    text-transform: uppercase;
  }
  .resetBtn {
      background: #2d6e84;
      padding-top: 6px;
  }
  .resetBtn button {
      background: #dd2846;
      border: none;
      padding: 10px;
      color: white;
      border-radius: 4px;
  }
  div#geneinput input#submit {
      background: #25b0ba;
      border: none;
  }
  div#geneinput  button,.networklayoutreset{
      background: #dd2846;
      border: none;
  }
  .networklayoutreset{
      background: #dd2846;
      border: none;
      margin-top: 8px;
  }
  select {
      color: black;
  }
  .carousel-item img {
      height: 350px;
  }
  div#mysilder {
      margin-top: 20px;
  }
  textarea#gene_list {
      color: black;
  }
  
  .networksetting {
      position: absolute;
      right: 0;
      top: 0px;
  }
  .setting_wrapper {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 230px;
      background: #2c6e84;
      color: white;
      padding-top: 0px;
      border-radius: 4px;
      overflow-y:auto;
  }
  
  button.accordion.active:after {
      display: none;
  }
  .colorParam {
      height: 20px;
      margin-bottom: 8px;
  }
  .setting_close a.closebtn {
      color: white;
      font-size: 20px;
      margin-top: -7px;
  }
  .setting_close {
      text-align: right;
      margin-right: 5px;
  }
  button.zoom_btn {
      background: #24b0ba;
      color: black;
      width: 46px;
      font-size: 16px;
      border: none;
  }
  #NodeDegreeRange {
      padding-top: 8px;
  }
  
  p.gene_info {
      margin: 0;
      color:#f5d069;
      font-weight: 500;
  }
  a.gene_info_link {
      color: #09e1fb !important;
  }
  
  /* ============================================== */
  
  .reset-all-btn {
      margin: 10px;
      float: right;
      background: rgb(211, 30, 55);
      color: white;
      border: 0px;
      padding: 5px;
      outline: 0;
  
  }
  
  #gene_info {
      max-height: 150px;
      overflow-y: scroll;
  }
  
  #alertModal {
      /* position: absolute;
      top: 0px;
      left: 20%; */
      margin: 5% auto;
      background-color: white;
      height: 200px;
      width: 500px;
      z-index: 9;
      pointer-events: all;
      /* opacity: 1; */
  }

  #alertWarning {
    /* position: absolute;
    top: 0px;
    left: 20%; */
    margin: 5% auto;
    background-color: #FFFFC5;
    height: 200px;
    width: 400px;
    z-index: 9;
    pointer-events: all;
    border-radius: 15px;
    /* opacity: 1; */
}


#alertStop {
    /* position: absolute;
    top: 0px;
    left: 20%; */
    margin: 5% auto;
    background-color: hsl(0, 84%, 59%);
    height: 200px;
    width: 400px;
    z-index: 9;
    pointer-events: all;
    border-radius: 15px;
    /* opacity: 1; */
}
  
  #nodeModal {
      /* position: absolute;
      top: 0px;
      left: 20%; */
      margin: 5% auto;
      background-color: white;
      height: 500px;
      width: 800px;
      z-index: 9;
      pointer-events: all;
      position: relative;
      /* opacity: 1; */
  }
  
  #loader-modal {
      margin: 5% auto;
      background-color: white;
      height: 500px;
      width: 800px;
      z-index: 9;
      pointer-events: all;
  }
  
  #nodeModal-2 {
      /* position: absolute;
      top: 0px;
      left: 20%; */
      margin: 5% auto;
      background-color: white;
      height: 500px;
      width: 800px;
      z-index: 9;
      pointer-events: all;
      /* opacity: 1; */
  }

  #nodeModal-3 {
      /* position: absolute;
      top: 0px;
      left: 20%; */
      margin: 5% auto;
      background-color: white;
      max-height: 70vh;
      max-width: 90vw;
      z-index: 9;
      pointer-events: all;
      overflow-y: auto;
      margin-bottom: 0px;
      /* opacity: 1; */
  }


  #nodeModal-4 {
    margin: 5% auto;
    background-color: white;
    max-height: 75vh;
    max-width: 91vw;
    z-index: 9;
    pointer-events: all;
    padding: 23px;
    /* opacity: 1; */
    border-radius: 44px;
}


#nodeModal-5 {
    margin: 5% auto;
    background-color: white;
    max-height: 60vh;
    max-width: 34vw;
    z-index: 9;
    pointer-events: all;
    padding: 23px;
    /* opacity: 1; */
    border-radius: 44px;
}
  
  #node-modal-background {
      position: absolute;
      top: 0;
      border: 0;
      left: 0;
      right: 0;
      background: rgba(37, 37, 37, 0.81);
      /* opacity: .8; */
      height: 110%;
      z-index: 9;
      /* pointer-events: none; */
  }
  
  #node-modal-background-alert {
      position: absolute;
      top: 0;
      border: 0;
      left: 0;
      right: 0;
      background: rgba(37, 37, 37, 0.81);
      /* opacity: .8; */
      height: 110%;
      z-index: 9;
      /* pointer-events: none; */
  }

    
  #node-modal-warning-alert {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
}

#node-modal-warning-edges {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
}

#null-message-id {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
}


#alertNullWarning{
    margin: 5% auto;
    background-color: #FFFFC5;
    height: 148px;
    width: 370px;
    z-index: 9;
    pointer-events: all;
    border-radius: 15px;
    opacity: 1;
}

  #node-modal-stop-alert {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
  }


  #node-modal-stop-edges {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
  }

  
  #loader-back {
          position: absolute;
          top: 0;
          border: 0;
          left: 0;
          right: 0;
          background: rgba(37, 37, 37, 0.81);
          /* opacity: .8; */
          height: 110%;
          z-index: 9;
          /* pointer-events: none; */
  }
  
  #node-modal-background-2 {
      position: absolute;
      top: 0;
      border: 0;
      left: 0;
      right: 0;
      background: rgba(37, 37, 37, 0.81);
      /* opacity: .8; */
      height: 100%;
      z-index: 9;
      /* pointer-events: none; */
  }

  #node-modal-background-3 {
      position: absolute;
      top: 0;
      border: 0;
      left: 0;
      right: 0;
      background: rgba(37, 37, 37, 0.81);
      /* opacity: .8; */
      height: 100%;
      z-index: 9;
      display: flex;
    flex-direction: column !important;
      /* pointer-events: none; */
  }

  
  #node-modal-background-4 {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
}


#node-modal-background-5 {
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    background: rgba(37, 37, 37, 0.81);
    /* opacity: .8; */
    height: 110%;
    z-index: 9;
    /* pointer-events: none; */
}
  
  .modal-close-btn {
      float: right;
      background: transparent;
      border: 0;
      outline: 0;
      /* position: absolute; */
      /* right: 0; */
      font-size: 15px;
      /* padding-right: 16px; */
      /* position: relative; */
      /* left: 133px; */
    /* bottom: 33px; */

  }
  
  .modal-header {
      text-align: center;
      justify-content: center;
      padding: 16px;
     
  }

  .modal-header-1 {
    text-align: left;
    justify-content: left;
    padding: 16px;
   
}
  
  .header-text {
      font-size: 16px;
      font-weight: bold;
  }
  
  .alert.header-text {
      font-size: 20px;
      font-weight: bold;
      color: hsl(0, 3%, 8%);
  }





  .fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height: 65vh;
}


.fixed_header thead {
    display: table-header-group;
    background: #25b0ba;
    color: #fff;
    /* width: 100%; */
}


.fixed {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height: 65vh;
}

.fixed thead th {
    background: #25b0ba;
    color: #fff;
}

.fixed_header thead  tr {
    display: block;
    /* width: 100%; */
}

/* .fixed_header th {
    text-align: center !important;
    vertical-align: middle;
    min-width: 180px;
    position: sticky;
    top: 0;
    z-index: 2; 
} */

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 100%;
    font-size: 14px;
}

.fixed_header tbody tr {
    border-bottom: 1px solid rgba(119, 119, 119, 0.22);
    background: #f3f3f3;
}

/* .fixed_header td {
    padding: 5px;
    text-align: left;
    min-width: 180px;
} */

/* 
.fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    min-width: 180px;
    width: 12.5%;
  }  */

  /* .fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 15%;
  }  */


   /* .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 15%;
  }  */




    /* .fixed_header{
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      height: 65vh;
  }
  
  .fixed_header tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 100%;
    font-size: 14px;
  }
  .fixed_header tbody tr {
      border-bottom: 1px solid rgba(119, 119, 119, 0.22);
      background: #f3f3f3;
  }
  .fixed_header thead tr {
     display: block;
  }
  
  .fixed_header thead {
      background: #25b0ba;
      color:#fff;
  }
  
  .fixed_header th, .fixed_header td {
    padding: 5px;
    text-align: left;
    min-width: 180px;
  } */
  
  .fixed_header-2{
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      height: 65vh;
  }
  
  .fixed_header-2 tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 100%;
    font-size: 14px;
  }
  .fixed_header-2 tbody tr {
      border-bottom: 1px solid rgba(119, 119, 119, 0.22);
      background: #f3f3f3;
  }
  .fixed_header-2 thead tr {
     display: block;
  }
  
  .fixed_header-2 thead {
      background: #25b0ba;
      color:#fff;
  }
  
  .fixed_header-2 th, .fixed_header-2 td {
    padding: 5px;
    text-align: left;
    min-width: 180px;
  }

  /* ===== fixed_header-1 ====== */
  .fixed_header-1{
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: collapse;
    height: 44vh;
}

.fixed_header-1 tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100%;
  font-size: 14px;
}
.fixed_header-1 tbody tr {
    border-bottom: 1px solid rgba(119, 119, 119, 0.22);
    background: #f3f3f3;
}
.fixed_header-1 thead tr {
   display: block;
}

.fixed_header-1 thead {
    background: #25b0ba;
    color:#fff;
}

.fixed_header-1 th, .fixed_header-1 td {
  padding: 5px;
  text-align: left;
  min-width: 202px;
  padding-left: 35px;
}

.buttons-btn{
    text-align: center;
    margin: 20px;
    margin-top: 12px;
}

.confirm-btn{
    background: linear-gradient(45deg, rgba(18, 76, 103, 1) 0%, rgba(9, 114, 121, 1) 35%, rgba(0, 0, 0, 1) 100%) !important;
    color: white;
    padding: 5px 25px;
    margin-right: 10px;
    border-radius: 5px;
}

.cancel-btn{
    background: linear-gradient(45deg, rgba(18, 76, 103, 1) 0%, rgba(9, 114, 121, 1) 35%, rgba(0, 0, 0, 1) 100%) !important;
    color: white;
    padding: 5px 25px;
    margin-right: 10px;
    border-radius: 5px;
}

  /* ========================== loader ========================= */
  
  @keyframes spin {
      from {
        transform: rotate(0);
      }
      to{
        transform: rotate(359deg);
      }
    }
    
    
    .spinner-box {
      position: absolute;
      margin: auto;
      display: flex;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 9999;
      /* width: 300px;
      height: 300px; */
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
    .circle-border {
      width: 150px;
      height: 150px;
      padding: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: rgb(63,249,220);
      background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
      animation: spin .8s linear 0s infinite;
    }
    .circle-core {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50%;
    }  

    .sub_btn {
        width: 110%;
        color: #f5f5f5;
        background-color: #04b09c;
        border: none;
        text-align: left;
        padding-left: 10px;
      
    }
    .margin_left{
        margin-left:10px;
    }

    .chosen-container .chosen-search input { 
        color: black; 
        }

    .chosen-container-single .chosen-single {
            font-size:12px;
            height: 24px;
            width: 150px;
        }

    .chosen-container-single .chosen-single :hover{
            color:none;           
        }
        .radio-label {
            position: relative;
            display: inline-block;
            margin-bottom: 10px;
            padding: 5px;
        }
        
        .radio-label input[type="radio"] {
            margin-right: 10px;
        }
        
        .info-image {  
            width: 10px; 
            height: 11px;
        }

        /* .info-image1 {  
            width: 24px;
            height: 24px;
            vertical-align: middle;
            cursor: pointer;
        } */


        .tooltiptext {
            position: absolute;
            /* display: inline-block; */
        }

        .tooltiptext .tooltip-content {
            visibility: hidden;
            width: 200px;
            background-color:  white;
            color: black;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            position: absolute;
            z-index: 1;
            /* bottom: 125%;  */
            left: 50%;
            margin-left: -151px; 
            opacity: 0;
            transition: opacity 0.3s;
            white-space: nowrap;
        }

        .tooltiptext:hover .tooltip-content {
            visibility: visible;
            opacity: 1;
        }


        .custom-tooltip .tooltip-inner {
            background-color: #FFFFFF !important; /* White background */
            color: #000000 !important;           /* Text color */
            border: 1px solid #CCCCCC;           /* Optional: Add a border */
        }
        .custom-tooltip .arrow::before {
            border-bottom-color: #FFFFFF !important; /* White arrow for bottom placement */
            border-top-color: #FFFFFF !important;    /* White arrow for top placement */
        }

        .new {
            border-top: 1px solid white;
            border-radius: 4px 4px 0 0;
            background: #2d6e84;
            color: #FFFFFF;
            font-size: 14px;
        }

        .b {
            background-color: rgb(74, 129, 148);
            border-radius: 0;
        }

        .size {
            font-size: 13px;
            color: #FFFFFF;
        }

      .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        font-size: 14px;
        font-weight: 400;
      }

      .tool-tip-font {
        font-size: 14px;
      }


      .accordion:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    .active:before {
        content: "\2212";
        float: right;
    }

    .tooltip {
        font-size: 14px; /* Change font size */
        background-color: #333333; /* Background color */
        color: white; /* Font color */
        border-radius: 4px
    }
    .tooltip-arrow {
        color: #FFFFFF; /* Change arrow color to match the tooltip background */
    }
    .tooltip .tooltip-inner {
        padding: 8px; /* Increase padding */
        border-radius: 4px; /* Rounded corners */
        font-size: 14px; /* Custom font size */
        color: #000000; /* Text color */
        background-color: #FFFFFF; /* Background color */
        opacity: 100%;
    }


      /* spinner css */
/* .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  } */


  .spinner-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Slightly darker overlay */
    border-radius: 10px; /* Rounded corners */
    z-index: 1000;
}
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  p {
    color: white;
    font-size: 18px;
    /* margin-top: 20px; */
  }


  	/* Basic styling for tabs */
	.tab-header {
		display: flex;
		list-style: none;
		padding: 0;
	}
	.tab-header li {
		margin-right: 10px;
	}
	.tab-header a {
		text-decoration: none;
		color: black;
		font-weight: bold;
		cursor: pointer;
		padding: 10px;
        font-size: 14px;
        /* border-radius: 10px; */
	}
	.inactive-tab {
		background-color: #f1f1f1; 
		color: #333;
	}

    #node-modal-background-4 .tab-header a.inactive-tab {
        background-color: white;
        color: #333;
    }

	.active-tab {
		background-color: #007bff; 
		color: white;
	}
    #node-modal-background-4 .tab-header a.active-tab {
        background-color: #007BFF;
        color: white;
        border-radius: 4px;
    }

    #nodeModal-3 .modal-header ,#nodeModal .modal-header{
        position: relative;
    }
    #nodeModal-3 .modal-close-btn , #nodeModal .modal-close-btn{
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
    }

   

    #node-modal-background th:nth-child(1) {
       min-width: 80px;
    }

    #node-modal-background td:nth-child(1) {
        min-width: 80px;
     }


     #node-modal-background th:nth-child(2) {
        min-width: 130px;
     }

     #node-modal-background td:nth-child(2) {
        min-width: 130px;
     }

     #node-modal-background th:nth-child(3) {
        min-width: 225px;
     }
     
     #node-modal-background td:nth-child(3) {
        min-width: 225px;
     }


    #node-modal-background-3 th:nth-child(1){
        /* min-width: 70px; */
        width: 2%;
    }

    #node-modal-background-3 td:nth-child(1){
        /* min-width: 70px; */
        width: 2%;
    }

    #node-modal-background-3 th:nth-child(2){
        /* min-width: 280px; */
        width: 20%;
    }

    #node-modal-background-3 td:nth-child(2){
        /* min-width: 280px; */
        width: 20%;
    }

    #node-modal-background-3 th:nth-child(3){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 td:nth-child(3){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 th:nth-child(4){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 td:nth-child(4){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 th:nth-child(5){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 td:nth-child(5){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 th:nth-child(6){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 td:nth-child(6){
        /* min-width: 140px; */
        width: 10%;
    }
    #node-modal-background-3 th:nth-child(7){
        /* min-width: 140px; */
        width: 10%;
    }

    #node-modal-background-3 td:nth-child(7){
        /* min-width: 140px; */
        width: 10%;
    }
    #node-modal-background-3 th:nth-child(8){
        /* min-width: 300px; */
        width: 25%;
    }

    #node-modal-background-3 td:nth-child(8){
        /* min-width: 300px; */
        width: 25%;
    }

    #node-modal-background-3 th , #node-modal-background th{
        font-size: 13px;
    }

    /* #node-modal-background-4 th:nth-child(1){
        min-width:100px;
    }

    #node-modal-background-4 td:nth-child(1){
        min-width:100px;
    }

    #node-modal-background-4 th:nth-child(2){
        min-width:270px;
    }

    #node-modal-background-4 td:nth-child(2){
        min-width:270px;
    } */

    #node-modal-background-2 th:nth-child(1){
        min-width: 90px;
    }

    #node-modal-background-2 td:nth-child(1){
        min-width: 90px;
    }

    #node-modal-background-2 th:nth-child(2){
        min-width: 150px;
    }

    #node-modal-background-2 td:nth-child(2){
        min-width: 150px;
    }

    #node-modal-background-2 th:nth-child(3){
        min-width: 185px;
    }

    #node-modal-background-2 td:nth-child(3){
        min-width: 185px;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px;
        justify-content: flex-end;
        /* margin: auto; */
        max-width: 95vw;
    }


    .community-popup-container {
        position: absolute;
        bottom: 10px;
        left: 0px;
        width: 200px;
        /* height: 180px; */
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none;
        overflow-y: hidden;
        border-radius: 5px;
        transition: transform 0.4s ease-in-out;
    }
    .community-popup-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .community-popup-list li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        justify-content: center;
        align-items: center;
    }
    .community-color {
        width: 150px;
        height: 30px;
        margin-right: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }
    /* .community-popup-container::-webkit-scrollbar {
        display: none;
    } */
    .community-popup-container {
        overflow-y: scroll;
    }
    .community-item input[type=checkbox]{
        margin:4px;
        width: 16px;
        height: 16px;
    }
    #node-detailspopup {
        position: absolute;
        top: 10px;
        right: 90px;
        border: 1px solid #ccc;
        background-color: white;
        padding: 10px;
        z-index: 1000;
        width: 250px; /* Fixed width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: none;
        font-size: 12px;
        border-radius: 4px; /* Rounded corners */
        word-wrap: break-word; /* Prevents overflow */
    }